@if (alert()) {
    <div class="alert-message alert-top-right">
      <p-message
        severity="error"
        [text]="alert()"
        (onClose)="clearMessages()"
        closable
      />
    </div>
    }
    
    <div class="forgetPassword-container">
      <div class="forgetPassword-card">
        <h1 class="forgetPassword-title">
          <span>Forget Password</span>
        </h1>
    
        <form pFocusTrap class="forgetPassword-form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
          <p class="forgetPassword-subtitle">
            Enter your Email to Reset your Password.
          </p>
    
          <div class="form-field">

            <!-- forgetPassword Field -->
            <div class="forgetPassword-Input">
              <p-floatlabel variant="on">
                <input
                [pAutoFocus]="true"
                  pInputText
                  id="forgetPassword"
                  type="text"
                  formControlName="email"
                />
                <label for="forgetPassword">ForgetPassword</label>
              </p-floatlabel>
              <div class="error-message">
                <p-message
                  *ngIf="getError('Verification')"
                  severity="error"
                  variant="simple"
                  size="small"
                >
                  {{ getError("Verification") }}
                </p-message>
              </div>
            </div>
          </div>
           
    
          <!-- ForgetPassword Button -->
          <button
            pButton
            type="submit"
            label="Verifiy"
            class="forgetPassword-btn"
            icon="pi pi-log-in"
            styleClass="p-button-warning"
          ></button>

        </form>
      </div>
    </div>
    
