<div class="profile-container">
  <!-- Profile Header -->

  <div *ngIf="data().email" class="profile-header">
    <p-avatar
      shape="circle"
      size="large"
      class="profile-avatar"
      [style]="{ width: '100px', height: '100px' }"
      image="{{ data().profileImage }}"
    ></p-avatar>
    <div class="profile-info">
      <h2>{{ data().userName }}</h2>
      <p>{{ data().email }}</p>
    </div>
  </div>

  <div class="profile-sections">
    <div class="columns-container">
      @for (column of data().column; track $index) {
      <div class="profile-column">
        <p-panel header="{{ column.columnName }}" class="profile-panel">
          @for (rowdata of column.rows; track $index) {
          <p>
            <strong>{{ rowdata.name }}</strong>
            <span [ngClass]="rowdata?.value === true ? 'status active' : (rowdata?.value === false ? 'status unactive' : '')">
              {{ rowdata?.value }}
            </span>
          </p>
          }
        </p-panel>
      </div>
      }
    </div>
  </div>
</div>
