.toast-container {
  width: 100%;
  .toast-summary {
    margin-bottom: 10px;
  }
  .toast-button {

    margin-top: 10%;
    margin-left: 44%;
    margin-right: 0%;
    padding-left: 19%;
    width: 67%;
    p-button {
      margin: 5px;
    }
  }
}
