
<p-table
  #dt
  [value]="rowsData || []"
  dataKey="id"
  [loading]="isLoading"
  [globalFilterFields]="filteredData"
  [selectionMode]="selection.mode"
  [(selection)]="selectedMembers"
  [metaKeySelection]="selection.metaKey"
  [customSort]="true"
  (sortFunction)="customSort($event)"
  (onFilter)="handleFilter($event)"
  [filters]="filters"
  [sortOrder]="metaData.sortOrder === 'asc' ? 1 : -1"
  [sortField]="metaData.sortBy"
  (selectionChange)="onSelectionChange($event)"
>
  <ng-template #header>
    <tr>
      @if (checkbox) {
      <th style="width: 50px">
        <p-tableHeaderCheckbox />
      </th>
      } @for (item of culumnsTitle; track $index) { @if (item.sort) {
      <th pSortableColumn="{{ item.title }}">
        {{ item.title.charAt(0).toUpperCase() + item.title.slice(1) }}
        <p-sortIcon field="{{ item.title }}" />
      </th>
      }@else{
      <th>{{ item.title }}</th>
      } }
      <th style="min-width: 12rem"></th>
    </tr>
    <tr>
      @for (item of culemnsFilter; track $index) { @if(item.title){
      <th>
        <p-columnFilter
          pTooltip="{{ item.tip }}"
          tooltipEvent="focus"
          tooltipPosition="right"
          type="{{ item.type }}"
          field="{{ item.title }}"
          placeholder="Search by {{ item.title }}"
          ariaLabel="Filter {{ item.title }}"
          [showMenu]="false"
        ></p-columnFilter>
      </th>
      }@else {
      <th></th>
      } }
      @if(actionButtons.length > 0){
      <th style="min-width: 12rem"></th>
    }
    </tr>
  </ng-template>

  <ng-template #body let-rowData>
    <tr [pSelectableRow]="rowData">
      @if (checkbox) {
      <td>
        <p-tableCheckbox [value]="rowData" />
      </td>
      } @for (item of culumnsTitle; track $index) {
      @if(item.title.toLocaleLowerCase().includes('image')){
      <td>
        <p-avatar [image]="rowData?.[item.title]" shape="circle" alt="Image" />
      </td>
      }@else if(item.title.toLocaleLowerCase()==="name"){
      <td>
        <div class="inline-avatar">
          <p-avatar
            [image]="rowData?.profileImage"
            shape="circle"
            alt="profileImage"
          />
          <span> {{ rowData[item.title] }}</span>
        </div>
      </td>
      }@else{
      <td>
        <span> {{ rowData[item.title] }}</span>
      </td>
      } }

      <td>
        @for (button of actionButtons; track $index) {
          <div  class="action-buttons">
        <p-button
          icon="{{button.icon}}"
          class="mr-2 "
          [severity]="button.severity"
          [rounded]="true"
          [outlined]="true"
          (onClick)="navigateTo(button.url+rowData['id'])"
        />
      </div>
    }
      </td>
    </tr>
  </ng-template>

  <ng-template #emptymessage>
    <tr>
      <td colspan="10">No users found.</td>
    </tr>
  </ng-template>

</p-table>

<p-paginator
  (onPageChange)="pageChange($event)"
  [first]="first"
  [rows]="metaData.perPage"
  [totalRecords]="metaData.totalItems"
  [rowsPerPageOptions]="[5, 10, 20]"
/>
